.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-list > * {
  margin: 20px;
}

.rates {
  color: white;
  display: flex;
  max-width: 400px;
  text-align: center;
}

.poster {
  display: flex;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}
